<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="script-lib/jquery.min.js"></script>
    <script type="text/javascript" src="script-lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="script-lib/angular.min.js"></script>
    <script type="text/javascript" src="script-lib/angular-cookies.js"></script>
    <script type="text/javascript" src="script-lib/angular-route.js"></script>

    <script type="text/javascript" src="script/app.js"></script>
    <script type="text/javascript" src="script/controller/myController.js"></script>
    <script type="text/javascript" src="script/upload.js"></script>

    <script type="text/javascript" src="script-lib/jquery-ui.js"></script>
    <script type="text/javascript" src="script-lib/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="script-lib/angular-file-upload.min.js"></script>

    <script type="text/javascript" src="script-lib/bootstrap-modal.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>
    <!--<script type="text/javascript" src="script/directive/checklist-model.js"></script>-->

</head>

<body ng-app="ImageAnalysisService">

<div ng-controller="MyController">

    <div class="col-md-12">
        <button type="button" class="btn col-md-6 btn-primary" ng-click="findSimilarImagesClick()">
            Find similar images
        </button>
        <button type="button" class="btn col-md-6 btn-success" ng-click="retrieveFaceClick()">
            Select face
        </button>

        <div ng-show="findSimilarImages" style="padding-top:10px">
            <h2 style="text-align: center">Find Similar Images</h2>
            <div class="col-md-6">
                <form>
                    <div class="fileUpload btn btn-warning">
                        <span>Select Image</span>
                        <input type="file" class="upload" ng-file-select="onFileSelect($files)">
                    </div>
                    <button type="button" class="btn btn-warning" ng-click="findSimilar()">Find similar</button>
                </form>
                <div class="imageclass" style="float: left; width: 500px; height: 500px;">
                    <img id="image" ng-src="{{imageSrc}}" ng-show="isLoaded"/><br/>
                </div>


            </div>

            <div class="col-md-6">
                <div ng-repeat="image in similarImages">
                    <div class="square" ng-style="{'background-image': 'url({{image.url}})'}">
                    </div>
                </div>

            </div>
        </div>

        <div ng-show="!findSimilarImages">
            select face
        </div>
    </div>


</div>
</body>
</html>